pkgbase = czkawka
	pkgdesc = Multi functional app to find duplicates, empty folders, similar images etc.
	pkgver = 5.0.2
	pkgrel = 1
	url = https://github.com/qarmin/czkawka
	arch = x86_64
	checkdepends = xorg-server-xvfb
	makedepends = cargo
	makedepends = git
	makedepends = gtk4
	makedepends = libheif
	makedepends = rust
	source = czkawka-5.0.2.tar.gz::https://github.com/qarmin/czkawka/archive/refs/tags/5.0.2.tar.gz
	sha512sums = 2a6068d8c93310010ddbddc8c5462ff68bdb109f23f1c06972d916089a4bf310f9c2c6773fb64ba4966c251764f4777ea544f40d3ef8664e2fee5723d61cd021

pkgname = czkawka-cli
	pkgdesc = Multi functional app to find duplicates, empty folders, similar images etc. (CLI)
	license = MIT
	depends = bzip2
	depends = libheif

pkgname = czkawka-gui
	pkgdesc = Multi functional app to find duplicates, empty folders, similar images etc. (Desktop App)
	license = MIT
	depends = gtk4
	depends = libheif
